// put buttons on right bottom of modal footer
.modal-card-foot {
  justify-content: flex-end;
}
// switch column order between desktop and mobile
.reverse-row-order {
  flex-direction: row-reverse;
}
