<template>
  <base-section>
    <div class="columns reverse-row-order">
      <div class="column is-one-quarter is-hidden-touch">
        <left-tile />
      </div>

      <div
        class="column is-half-desktop is-two-thirds-tablet is-full-mobile"
      >
        <center-tile />
      </div>

      <div class="column is-one-quarter-desktop is-one-third-tablet is-hidden-mobile">
        <right-tile />
      </div>

      <!-- ping notification -->
      <no-ssr>
        <notifications
          group="ping-notifications"
          position="top right"
        >
          <template
            slot="body"
            slot-scope="props"
          >
            <span @click="onNotificationClick(props.item.data.themes) && props.close()">
              <div class="notification-wrapper">
                <div class="notification vue-notification">
                  <div class="notification-title">
                    {{ props.item.title }}
                  </div>
                  <!-- eslint-disable vue/no-v-html -->
                  <div
                    class="notification-content"
                    v-html="props.item.text"
                  />
                  <!-- eslint-enable vue/no-v-html -->
                </div>
              </div>
            </span>
          </template>
        </notifications>
      </no-ssr>
    </div>
  </base-section>
</template>

<script lang="ts">
import { mapState, mapGetters } from "vuex";
import decodeTagStringToThemes from "tomato-puree/util/convert/tag/decodeTagStringToThemes";

import * as ChatComponents from "~/components/chat/index";
import BaseSection from "~/components/common/base/section.vue";

const getThemesFromQuery = query => {
  // if no query exists, return empty array
  if (!query.themes) {
    return ["hello", "world"];
  }

  // isArray check
  // (it may be array for multiple themes in query, or be string for single theme in query)
  return Array.isArray(query.themes) ? query.themes : [query.themes];
};

const getIndexFromQuery = query => {
  return parseInt(query.index);
};

const moveToUrlRequest = async (query, dispatch) => {
  // move to themes, and select bottle index if exists in query
  const index = getIndexFromQuery(query);
  const themes = getThemesFromQuery(query);
  await dispatch("chat/selectThemes", { themes, index });
};

export default {
  head() {
    return {
      title: getThemesFromQuery(this.$route.query).join(" / ")
    };
  },
  middleware: "requireLogin",
  components: { ...ChatComponents, BaseSection },
  computed: {
    ...mapState("notification", ["notifications"]),
    ...mapGetters("auth", ["loggedIn"])
  },
  watch: {
    async $route(to) {
      await moveToUrlRequest(to.query, this.$store.dispatch);
    },
    notifications(value) {
      const notification = value[0];
      const themes = decodeTagStringToThemes(notification.encodedTag);

      if (!themes) {
        console.error("notification failed: decoded theme is null");
        return;
      }

      this.$notify({
        group: "ping-notifications",
        title: `ping! in ${themes.join("/")}`,
        text: `ping from ${notification.pingDisplayName} (${
          notification.pingUsername
        })`,
        duration: 10000,
        data: { themes }
      });
    },
    async loggedIn(to) {
      if (to) {
        await moveToUrlRequest(this.$route.query, this.$store.dispatch);
      }
    }
  },
  async mounted() {
    if (this.loggedIn) {
      await moveToUrlRequest(this.$route.query, this.$store.dispatch);
    }
  },
  methods: {
    onNotificationClick(themes) {
      this.$router.push(this.localePath({ name: "chat", query: { themes } }));
      return true;
    }
  }
};
</script>

<style
  lang="scss"
  scoped
/>
