<template>
  <base-section>
    <section class="tile box">
      <b-tabs v-model="activeTab">
        <b-tab-item :label="$t('stamp.shop.label')">
          <div v-if="currentUser">
            <div
              v-for="stampSet in (tempStampSets || [])"
              :key="stampSet.vendor"
              class="content"
            >
              <h3 class="title">
                {{ stampSet.title }}
              </h3>

              <p>
                <img
                  :src="stampSet.items[0].url"
                  class="image is-128x128"
                >
              </p>
              <button
                class="button"
                @click="orderStampSet(stampSet.stampSetId)"
              >
                {{ $t("stamp.shop.orderStampSet") }}
              </button>
            </div>
          </div>
        </b-tab-item>

        <b-tab-item
          :label="$t('stamp.unused.label')"
          disabled
        />

        <b-tab-item
          :label="$t('stamp.used.label')"
          disabled
        />

      </b-tabs>
    </section>
  </base-section>
</template>

<script lang="ts">
import { mapGetters, mapState } from "vuex";
import { firestore } from "firebase/app";
import orderStamp, {
  IProps as orderStapmProps
} from "tomato-puree/client/stamp/orderStamp";
import { RefGenerator } from "tomato-puree/client/ref";

import BaseSection from "~/components/common/base/section.vue";

export default {
  head() {
    return {
      title: this.$t("stamp.title")
    };
  },
  middleware: "requireLogin",
  components: { BaseSection },
  data() {
    return {
      activeTab: 0
    };
  },
  computed: {
    ...mapGetters("app", ["appInitialized", "currentUser"]),
    ...mapState("stamp", ["tempStampSets"])
  },
  mounted() {
    // load tempStampSets
    this.$store.dispatch("stamp/loadTempStampSets");
  },
  methods: {
    async orderStampSet(stampSetId) {
      const db = this.$firebase.firestore();
      const refGenerator = new RefGenerator(db);
      const userRef = refGenerator.user(this.$firebase.auth().currentUser.uid);
      const stampSetRef = refGenerator.stampSet(stampSetId);
      const props: orderStapmProps = {
        userRef,
        paymentToken: "test-token",
        stampSetRef,
        amount: 100,
        price: "0",
        currency: "JPY",
        timestamp: firestore.FieldValue.serverTimestamp()
      };
      await orderStamp(db, props);
    }
  }
};
</script>

<style
  lang="scss"
  scoped
/>
