<template>
  <div class="tile is-ancestor">
    <div class="tile chat-tile is-parent is-vertical">

      <div class="tile is-child box">
        <text-input ref="textInput" />
      </div>

      <div
        v-if="!isLatestBottle"
        class="tile is-child"
      >
        <button
          class="button is-fullwidth is-info is-inverted"
          @click="moveToLatestBottle"
        >
          {{ $t('chat.moveToLatestBottle') }}
        </button>
      </div>

      <div class="tile is-child box">
        <message
          v-for="message in messages"
          :key="message.id"
          :message="message"
          :current-user="currentUser"
          :citation="false"
          @indexClicked="insertQuotation"
        />
      </div>

      <div class="tile is-child">
        <button
          v-if="hasOlderMessages"
          class="button is-fullwidth is-info is-inverted"
          @click="loadAllMessages"
        >
          {{ $t('chat.displayAllMessages') }}
        </button>
      </div>

      <div class="is-hidden-tablet">
        <a
          @click="$refs.textInput.$refs.textArea.$el.focus()"
        >
          <b-icon
            icon="pencil-box"
            class="mobile-post-button"
            size="is-large"
            type="is-info"
          />
        </a>
      </div>

      <b-loading
        :is-full-page="true"
        :active.sync="loading"
        :can-cancel="false"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapState, mapActions } from "vuex";
import * as ChatComponents from "~/components/chat/index";

import TextInput from "./textInput.vue";

export default {
  components: { ...ChatComponents, TextInput },
  computed: {
    ...mapGetters("app", ["currentUser", "bookmark"]),
    ...mapGetters("chat", [
      "hasOlderMessagesOfCurrentBottle",
      "isLatestBottle",
      "currentBottleIndex"
    ]),
    ...mapState("chat", ["themes", "loading"]),
    messages() {
      return this.$store.getters["chat/messages"];
    },
    hasOlderMessages() {
      const length = this.messages.length;
      if (length >= 10) {
        return (
          this.messages[length - 1].index !== 1 &&
          this.hasOlderMessagesOfCurrentBottle
        );
      } else {
        return false;
      }
    }
  },
  methods: {
    ...mapGetters("binding/bottleMessages", ["isAllBind"]),
    async moveToLatestBottle() {
      // move to latest theme's url if current one is not
      if (this.$route.query.index) {
        this.$router.push(
          this.localePath({ name: "chat", query: { themes: this.themes } })
        );
        return;
      }

      // select latest bottle
      await this.$store.dispatch("chat/selectBottleIndex", {
        index: this.currentBottleIndex
      });
    },
    async loadAllMessages() {
      await this.$store.dispatch("chat/loadAllMessagesOfCurrentBottle");
    },
    insertQuotation({ index }) {
      this.$refs.textInput.text += `@${index} `;
      this.$toast.open({
        message: this.$i18n.t("chat.quotation.addedIndexToText"),
        type: "is-info"
      });
    }
  }
};
</script>

<style
  lang="scss"
  scoped
>
.chat-tile {
  width: 100%;
  min-width: 0;
}
.mobile-post-button {
  position: fixed;
  right: 1%;
  bottom: 10%;
}
.mobile-post-input {
  position: fixed;
  width: 96%;
  right: 2%;
  bottom: 10%;
}
</style>
