<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ $t("chat.edit.labelForEditMessage") }}</p>
    </header>
    <section class="modal-card-body">
      <b-input
        ref="editInput"
        v-model="updatedText"
        maxlength="2048"
        type="textarea"
        @keydown.native.meta.enter.prevent="editMessage"
        @keyup.native.meta.enter.prevent="editMessage"
        @keyup.native.ctrl.enter.prevent="editMessage"
      />
    </section>
    <footer class="modal-card-foot">
      <button
        class="button"
        type="button"
        @click="$parent.close()"
      >
        {{ $t("chat.edit.buttonForCancel") }}
      </button>
      <button
        class="button is-primary"
        @click="editMessage"
      >
        {{ $t("chat.edit.buttonForChange") }}
      </button>
    </footer>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    // message id to edit
    id: {
      type: String,
      required: true
    },
    // original message
    text: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      updatedText: this.text
    };
  },
  mounted() {
    this.$refs.editInput.focus();
  },
  methods: {
    async editMessage() {
      await this.$store.dispatch("chat/editMessage", {
        messageId: this.id,
        text: this.updatedText
      });
      this.$parent.close();
    }
  }
};
</script>

<style
  lang="scss"
  scoped
>
@import "../../assets/modal";
</style>
