// https://github.com/nuxt-community/modules/issues/185#issuecomment-363486760

<template>
  <!-- eslint-disable vue/no-v-html -->
  <div
    class="markdown-content"
    v-html="$md.render(content)"
  />
  <!-- eslint-enable vue/no-v-html -->
</template>

<script lang="ts">
import queryString from "query-string";

export default {
  props: {
    content: {
      type: String,
      required: true
    }
  },
  watch: {
    content: "contentUpdated"
  },
  mounted() {
    // add listener for tag link
    this.addListeners();
  },
  beforeDestroy() {
    // remove listener for tag link
    this.removeListeners();
  },
  methods: {
    navigate(event) {
      const href = event.target.getAttribute("href");
      if (href && href[0] === "/") {
        event.preventDefault();
        const { url, query } = queryString.parseUrl(href);
        this.$router.push(this.localePath({ path: url, query }));
      }
    },
    contentUpdated() {
      this.removeListeners();
      this.$nextTick(() => {
        this.addListeners();
      });
    },
    addListeners() {
      this._links = this.$el.getElementsByTagName("a");
      for (let i = 0; i < this._links.length; i++) {
        this._links[i].addEventListener("click", this.navigate, false);
      }
    },
    removeListeners() {
      if (Array.isArray(this._links) && this._links.length > 0) {
        for (let i = 0; i < this._links.length; i++) {
          this._links[i].removeEventListener("click", this.navigate, false);
        }
        this._links = [];
      }
    }
  }
};
</script>

<style
  lang="scss"
  scoped
>
@import "../../assets/font";
@import "../../assets/highlight";
@import "../../assets/color";

// general
.markdown-content /deep/ {
  @include hybrid;
  word-break: normal;
  overflow-wrap: break-word;
}

.markdown-content /deep/ p {
  overflow: auto;
}

// Emoji
.markdown-content /deep/ img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

// media contents
// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.markdown-content /deep/ .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.markdown-content /deep/ .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.markdown-content /deep/ code,
pre {
  font-family: $code-fonts;
}

.markdown-content /deep/ pre.hljs.language-aa,
.markdown-content /deep/ pre.hljs.language-aa code {
  @include code-block_ascii-art-color;
  font-size: 16px;
  line-height: 18px;
  font-family: $aa-fonts;
  letter-spacing: 0;
  margin: 0.5em auto;
}

/* file title in code block */
.markdown-content /deep/ pre[data-name] {
  position: relative;
  padding: 2em 1.5em 1.25em 1.5em;

  &::before {
    @include code-block_title-color;
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-name);
    padding: 2px 4px;
  }
}
</style>
