<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="modal-card-title">
        <b-field>
          <b-input
            ref="emojiInput"
            v-model="keyword"
            placeholder="smile, heart, star..."
            icon="magnify"
          />
        </b-field>
      </div>
    </header>
    <section class="modal-card-body emoji-modal-content">
      <b-field
        grouped
        group-multiline
        position="is-centered"
      >
        <div
          v-for="name in searchEmoji"
          :key="name"
          class="control"
        >
          <a
            :title="name"
            @click="sendEmoji({ name })"
          >
            <img
              :src="emojis[name]"
              class="image is-32x32"
            >
          </a>
        </div>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <p class="control">
        <button
          class="button"
          type="button"
          @click="$parent.close()"
        >
          {{ $t("chat.emoji.buttonForCancel") }}
        </button>
      </p>
    </footer>
  </div>
</template>

<script lang="ts">
import { emojis } from "~/static/emojis";
export default {
  data() {
    return {
      keyword: "",
      emojis
    };
  },
  computed: {
    // return emoji names
    searchEmoji() {
      if (!this.keyword) {
        return Object.keys(this.emojis);
      }
      return Object.keys(this.emojis).filter(
        name => name.indexOf(this.keyword) > -1
      );
    }
  },
  mounted() {
    this.$refs.emojiInput.focus();
  },
  methods: {
    // call parent's method and close modal
    sendEmoji({ name }) {
      this.$emit("append-emoji", `:${name}:`);
      this.$parent.close();
    }
  }
};
</script>

<style
  lang="scss"
  scoped
>
@import "../../assets/modal";
.emoji-modal-content {
  height: 320px;
}
</style>
