<template>
  <div class="tile is-ancestor">
    <div class="tile tag-tile is-parent is-vertical">
      <div class="tile is-child box">
        <tag-summary :themes="themes" />
      </div>
      <div class="tile is-child box">
        <div class="menu tag-menu has-background-white">
          <p class="menu-label">
            {{ $t('bookmark.label') }}
          </p>
          <nested-ul
            :current="themes"
            :nested="nested"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { mapGetters, mapState } from "vuex";
import * as ChatComponents from "~/components/chat/index";

export default {
  components: { ...ChatComponents },
  computed: {
    ...mapGetters("app", ["nested"]),
    ...mapState("chat", ["themes"])
  }
};
</script>

<style
  lang="scss"
  scoped
>
.tag-tile {
  width: 100%;
  min-width: 0;
}
.tag-menu {
  width: 100%;
  overflow: auto;
}
</style>
