<template>
  <article class="media tb-chat-message">
    <figure class="media-left">
      <span v-if="message.user.photoUrl">
        <p :class="iconClass">
          <img :src="message.user.photoUrl">
        </p>
      </span>
      <span v-else>
        <b-icon
          icon="account"
          size="is-large"
        />
      </span>
    </figure>
    <div class="media-content">
      <div :class="citation ? 'content is-small' : 'content'">
        <span
          :id="'message' + message.index"
          class="is-clearfix"
        >
          <span
            v-if="!citation"
            class="is-pulled-right"
          >
            <a @click="openStampModal(message)">
              <b-icon
                icon="thumb-up"
              />
            </a>
          </span>
          <span
            v-if="!citation"
            class="is-pulled-right"
          >
            <a @click="openEditModal(message)">
              <b-icon
                v-if="isMessageAuthor(message)"
                icon="pencil"
              />
            </a>
          </span>
          <strong>
            <b-tooltip
              v-if="!citation"
              :label="$t('chat.quotation.tooltip')"
              type="is-info"
            >
              <a @click="$emit('indexClicked', message)">
                {{ message.index }}
              </a>
            </b-tooltip>
            <span v-else>{{ message.index }}</span>
            <span>: </span>
            <span
              :title="message.user.displayName"
            >
              {{ shortenName(message.user.displayName) }}
            </span>
            <span
              :title="message.user.username"
              class="is-hidden-mobile"
            >
              ({{ shortenName(message.user.username) }})
            </span>
          </strong>
          <span
            v-if="message.loaded"
            :title="displayDate(message).long"
            class="is-size-7 is-italic"
          >
            {{ displayDate(message).short }}
          </span>
        </span>
        <html-parser :content="message.text" />
      </div>
      <article
        v-if="!citation && Array.isArray(message.citations) && message.citations.length > 0"
        class="message is-light"
      >
        <div class="message-body">
          <message
            v-for="citeMessage in citeMessages(message)"
            :key="citeMessage.id"
            :message="citeMessage"
            :current-user="currentUser"
            :citation="true"
          />
        </div>
      </article>
      <div
        v-if="!citation"
        class="content"
        @mouseenter="onMouse = true"
        @mouseleave="onMouse = false"
      >
        <div class="media-content">
          <b-field
            grouped
            group-multiline
          >
            <div
              v-for="stamp in message.stamps"
              :key="stamp.stampSet + stamp.stampItemId"
              class="control"
            >
              <div
                :data-badge="stamp.amount"
                class="badge is-badge-danger is-badge-small"
              >
                <a
                  @click="sendStamp({messageId: message.id, stampId: value.stamp})"
                >
                  <img
                    :src="(stampItem(stamp.stampSet, stamp.stampItemId) || {}).url"
                    :class="stampClass"
                  >
                </a>
              </div>
            </div>
          </b-field>
        </div>
      </div>
    </div>

    <b-loading
      :is-full-page="false"
      :active.sync="!message.loaded"
      :can-cancel="false"
    />
  </article>
</template>

<script lang="ts">
import { mapActions, mapGetters } from "vuex";

import EditMessageModal from "./editMessageModal.vue";
import HtmlParser from "./htmlParser.vue";
import SelectStampModal from "./selectStampModal.vue";

export default {
  name: "Message",
  components: { HtmlParser },
  props: {
    message: {
      type: Object,
      required: true
    },
    currentUser: {
      type: Object,
      required: true
    },
    citation: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      onMouse: false
    };
  },
  computed: {
    ...mapGetters("binding/stampSet", ["stampItem"]),
    ...mapGetters("chat", ["messages"]),
    iconClass() {
      return this.citation ? "image is-32x32" : "image is-48x48";
    },
    stampClass() {
      if (this.onMouse) {
        return "image is-96x96";
      } else {
        return "image is-48x48";
      }
    }
  },
  methods: {
    ...mapActions("chat", ["sendStamp"]),
    openEditModal({ id, text }) {
      this.$modal.open({
        parent: this,
        props: { id, text },
        component: EditMessageModal,
        hasModalCard: true,
        scroll: "keep"
      });
    },
    openStampModal({ id }) {
      this.$modal.open({
        parent: this,
        props: { id },
        component: SelectStampModal,
        hasModalCard: true,
        scroll: "keep"
      });
    },
    shortenName(value) {
      if (!value) {
        return;
      }
      if (value.length <= 15) {
        return value;
      } else {
        return value.slice(0, 15) + "...";
      }
    },
    displayDate({ timestamp }) {
      // return empty values if param is null
      if (!timestamp) {
        return { short: "", long: "" };
      }

      const date = new Date(timestamp.seconds * 1000);
      return { short: this.$d(date, "short"), long: this.$d(date, "long") };
    },
    isMessageAuthor({ user }) {
      // compare by id added by vue (observer)
      // TODO: compare by `/users` path
      return user.id === this.currentUser.id;
    },
    stampBadge({ num }) {
      // Hide badge when count is one
      return num > 1 ? num : null;
    },
    citeMessages({ citations }) {
      return this.messages.filter(
        message => citations.indexOf(message.id) > -1
      );
    }
  }
};
</script>

<style
  lang="scss"
  scoped
>
.tb-chat-message {
  div {
    // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
    min-width: 0;
  }
  position: relative;
}

/* Fix */
.badge::after {
  top: calc(100% - (0.75rem / 2)) !important;
  left: calc(0px - (0.75rem / 2)) !important;
}
</style>
