<template>
  <div class="tile box">
    <text-input
      ref="textInput"
      @message-sent="$parent.close()"
    />
  </div>
</template>

<script lang="ts">
import TextInput from "./textInput.vue";

export default {
  components: { TextInput },
  mounted() {
    this.$refs.textInput.$refs.textArea.$el.focus();
  }
};
</script>

<style scoped/>
