<template>
  <div class="tile is-ancestor">
    <div class="tile recent-tile is-parent is-vertical">
      <div class="tile is-child box">
        <div class="menu has-background-white">
          <p class="menu-label">
            {{ $t('chat.recent.labelForTag') }}
          </p>
          <b-field
            grouped
            group-multiline
          >
            <div
              v-for="(bottle, index) in recentBottle.slice(1)"
              :key="index"
              class="control"
            >
              <b-field>
                <b-checkbox
                  v-model="checkboxTag"
                  :type="`is-${recentTagColor(bottle)}`"
                  :native-value="getTag(bottle)"
                />
                <p class="control">
                  <b-taglist attached>
                    <b-tag
                      :title="getTag(bottle)"
                      :type="`is-${recentTagColor(bottle)}`"
                      ellipsis
                    >
                      {{ getTag(bottle) }}
                    </b-tag>
                    <b-tag>
                      {{ bottle.bottleIndex }}
                    </b-tag>
                  </b-taglist>
                </p>
              </b-field>
            </div>
          </b-field>
          <p class="menu-label">
            {{ $t('chat.recent.labelForMessage') }}
          </p>
          <div
            v-for="(message, messageindex) in messages"
            :key="messageindex"
            class="media tb-recent-message"
          >
            <div class="media-left">
              <span
                v-if="message.user.photoUrl"
              >
                <figure class="image is-32x32">
                  <img :src="message.user.photoUrl">
                </figure>
              </span>
              <span v-else>
                <b-icon
                  icon="account"
                  size="is-medium"
                />
              </span>
            </div>
            <div class="media-content">
              <div class="content">
                <nuxt-link
                  :to="localePath({name: 'chat', query: {themes: message.themes}})"
                >
                  <b-tag
                    :title="getTag(message)"
                    :type="`is-${recentTagColor(message)}`"
                    ellipsis
                  >
                    {{ shortenTag(getTag(message)) }}
                  </b-tag>
                </nuxt-link>
                <html-parser :content="message.text" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapState, mapMutations } from "vuex";
import encodeThemesToTagString from "tomato-puree/util/convert/tag/encodeThemesToTagString";
import SelectStampModal from "~/components/chat/selectStampModal.vue";
import * as ChatComponents from "~/components/chat/index";

export default {
  components: { ...ChatComponents },
  data() {
    return {
      checkboxTag: []
    };
  },
  computed: {
    ...mapGetters("chat", ["recentBottle", "subMessages"]),
    ...mapGetters("app", ["currentUser"]),
    ...mapState("chat", ["themes"]),
    // return messages which are checked by user
    messages() {
      return this.subMessages.filter(
        x => this.checkboxTag.indexOf(this.getTag(x)) > -1
      );
    }
  },
  watch: {
    // if user changed current tag, refresh the checkbox
    recentBottle(to) {
      this.checkboxTag = to.slice(1).map(x => this.getTag(x));
    }
  },
  methods: {
    getTag({ themes }) {
      if (!themes) {
        return "";
      }
      return themes.join(" / ");
    },
    recentTagColor({ themes }) {
      const tagList = this.recentBottle.map(x => x.tag);
      const index = tagList.indexOf(encodeThemesToTagString(themes));
      switch (index) {
        case 1:
          return "danger";
        case 2:
          return "link";
        case 3:
          return "success";
        case 4:
          return "dark";
        default:
          return "light";
      }
    },
    // return last theme if tag is too long
    shortenTag(value) {
      if (!value) {
        return "";
      }
      if (value.length <= 20) {
        return value;
      } else {
        return `... /${value.split("/").pop()}`;
      }
    },
    openStampModal({ messageId }) {
      this.$modal.open({
        parent: this,
        props: { id: messageId },
        component: SelectStampModal,
        hasModalCard: true,
        scroll: "keep"
      });
    }
  }
};
</script>

<style
  lang="scss"
  scoped
>
.recent-tile {
  width: 100%;
  min-width: 0;
}
.tb-recent-message {
  div {
    // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
    min-width: 0;
  }
  pre {
    font-family: Consolas, monospace;
  }
}
</style>
