<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ $t("chat.stamp.labelForSelectStamp") }}</p>
    </header>
    <section class="modal-card-body">
      <b-loading
        :is-full-page="false"
        :active="loading"
        :can-cancel="false"
      />
      <div
        v-for="stampSetInfo in latestBought"
        :key="stampSetInfo.stampSetId"
        class="content"
      >
        <h3 class="title">{{ stampSetInfo.title }}</h3>
        <b-field
          grouped
          group-multiline
        >
          <div
            v-for="item in stampSetInfo.items"
            :key="item.id"
            class="control"
          >
            <a
              @click="sendStamp({stampSetId: stampSetInfo.stampSetId, stampItemId: item.id })"
            >
              <img
                :src="item.url"
                class="image is-96x96"
              >
            </a>
          </div>
        </b-field>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button
        class="button"
        type="button"
        @click="$parent.close()"
      >
        {{ $t("chat.stamp.buttonForCancel") }}
      </button>
      <nuxt-link
        :to="localePath({name: 'stamp'})"
        class="button info"
        @click.native="$parent.close()"
      >
        <span>
          {{ $t('chat.stamp.buttonForShop') }}
        </span>
      </nuxt-link>
    </footer>
  </div>
</template>

<script lang="ts">
import { mapState, mapGetters } from "vuex";

export default {
  props: {
    // message id to add stamp
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    ...mapState("stamp", ["tempStampSets"]),
    ...mapGetters("stamp", ["latestBought"])
  },
  methods: {
    async sendStamp({ stampSetId, stampItemId }) {
      this.loading = true;
      await this.$store.dispatch("chat/sendStamp", {
        messageId: this.id,
        stampSetId,
        stampItemId
      });
      this.loading = false;
      this.$parent.close();
    }
  }
};
</script>

<style
  lang="scss"
  scoped
>
@import "../../assets/modal";
</style>
