<template>
  <div class="menu has-background-white">
    <div class="menu-label">
      <span class="is-pulled-right">
        <b-tooltip
          :label="$t('tagSummary.bookmarkTag')"
          type="is-info"
        >
          <a @click="bookmarkTag({enable: !isBookmarkedTag})">
            <b-icon
              v-if="isBookmarkedTag"
              icon="bookmark"
              type="is-info"
            />
            <b-icon
              v-else
              icon="bookmark-off"
              type="is-dark"
            />
            <b-loading
              :is-full-page="false"
              :active="bookmarkLoading"
              :can-cancel="false"
            />
          </a>
        </b-tooltip>
      </span>
      {{ $t('tagSummary.label') }}
    </div>
    <div class="content">
      <h3 class="title overflow-wrap">{{ themes.join(" / ") }}</h3>
    </div>
    <b-field
      label="Bottle"
      horizontal
    >
      <b-select
        v-model="bottleIndex"
        :placeholder="$t('tagSummary.placeholder')"
        expanded
        type="is-info"
      >
        <option
          v-for="bottle in bottles"
          :key="bottle.bottlePath"
          :value="bottle.index"
        >
          No. {{ bottle.index }}
        </option>
      </b-select>
    </b-field>
    <b-field
      label="Message"
      horizontal
    >
      <p class="control has-text-centered">
        <progress
          :value="index"
          max="200"
          class="progress is-success"
        />
        {{ index }} / 200
      </p>
    </b-field>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapState } from "vuex";

export default {
  props: {
    themes: {
      default: () => [],
      type: Array
    }
  },
  data() {
    return {
      bookmarkLoading: false,
      subscribeLoading: false
    };
  },
  computed: {
    ...mapGetters("chat", ["messages", "bottles", "index"]),
    ...mapGetters("app", ["bookmark", "notification"]),
    bottleIndex: {
      get() {
        return this.$store.state.chat.bottleIndex;
      },
      set(value) {
        // return if value is not change
        if (this.bottleIndex === value) {
          return;
        }
        const query = { ...this.$route.query, index: value };
        this.$router.push(this.localePath({ name: "chat", query }));
      }
    },
    isBookmarkedTag() {
      // return false until `/bookmark` synced
      if (!this.bookmark) {
        return false;
      }
      // TODO: use puree
      const tag = this.themes.join("/");
      return this.bookmark.tags[tag];
    },
    isSubscribedTopic() {
      // return false until `/notification` synced
      if (!this.notification) {
        return false;
      }
      // TODO: use puree, such as topicForThemes()
      const topic = encodeURIComponent(this.themes.join("/")).replace(
        /[!'()*]/g,
        c => {
          return "%" + c.charCodeAt(0).toString(16);
        }
      );
      return this.notification.topics[topic];
    }
  },
  methods: {
    async bookmarkTag({ enable }) {
      this.bookmarkLoading = true;
      await this.$store.dispatch("app/toggleBookmarkTag", {
        tag: this.themes.join("/"),
        enable: enable
      });
      this.bookmarkLoading = false;
    },
    async subscribeTopic({ enable }) {
      this.subscribeLoading = true;
      await this.$store.dispatch("app/toggleTopicNotification", {
        themes: this.themes,
        enable: enable
      });
      this.subscribeLoading = false;
    }
  }
};
</script>

<style
  lang="scss"
  scoped
>
.overflow-wrap {
  overflow-wrap: break-word;
}
</style>
