<template>
  <div>
    <b-field>
      <textarea-autosize
        ref="textArea"
        v-model="text"
        v-shortkey.focus="['n']"
        :min-height="30"
        :max-height="350"
        :placeholder="$t('chat.send.placeholderForTextInput')"
        rows="1"
        class="textarea"
        @compositionstart.native="isImeActive = true"
        @compositionend.native="isImeActive = false"
        @keydown.native.meta.enter.prevent="sendMessage(); $refs.textArea.$el.focus()"
        @keyup.native.meta.enter.prevent="sendMessage(); $refs.textArea.$el.focus()"
        @keyup.native.ctrl.enter.prevent="sendMessage(); $refs.textArea.$el.focus()"
        @keydown.native.escape.prevent="cancelInputFocus"
      />
    </b-field>
    <message-preview
      v-if="isPreviewActive"
      :text="text"
    />
    <span
      v-if="text && !isValidLength"
      class="content is-small has-text-danger"
    >
      {{ `${text.length} / 2048` }}
    </span>
    <b-field grouped>
      <p class="control">
        <button
          :title="$t('chat.send.ping')"
          class="button"
          @click="sendPing"
        >
          <b-icon icon="bell" />
        </button>
      </p>
      <p class="control is-expanded" />
      <p class="control">
        <button
          :class="previewButtonClass"
          :title="$t('chat.send.titleForPreview')"
          @click="isPreviewActive = !isPreviewActive"
        >
          <b-icon icon="eye" />
        </button>
      </p>
      <p class="control">
        <button
          :title="$t('chat.send.titleForAAsciiArtTemplate')"
          class="button"
          @click="insertAsciiArtTemplate"
        >
          ﾟДﾟ
        </button>
      </p>
      <p class="control">
        <button
          :title="$t('chat.send.titleForEmoji')"
          class="button"
          @click="isEmojiActive = true"
        >
          <b-icon icon="emoticon" />
        </button>
        <b-modal
          :active.sync="isEmojiActive"
          scroll="keep"
        >
          <input-emoji-modal
            @append-emoji="appendEmoji($event)"
          />
        </b-modal>
      </p>
      <p class="control">
        <button
          ref="sendButton"
          v-shortkey.once="{win:['ctrl', 'enter']}"
          v-shortkey="{mac:['meta', 'enter']}"
          class="button is-info"
          @click.prevent="sendMessage"
          @shortkey="sendMessage"
        >
          <span>
            {{ $t('chat.send.buttonForPost') }}
          </span>
        </button>
      </p>
    </b-field>
  </div>
</template>

<script lang="ts">
import InputEmojiModal from "~/components/chat/inputEmojiModal.vue";
import MessagePreview from "~/components/chat/messagePreview.vue";
import { mapState, mapGetters } from "vuex";

export default {
  components: { InputEmojiModal, MessagePreview },
  data() {
    return {
      isEmojiActive: false,
      isPreviewActive: false,
      isImeActive: false,
      text: ""
    };
  },
  computed: {
    ...mapState("chat", ["themes"]),
    ...mapGetters("chat", ["isLatestBottle"]),
    isValidLength() {
      return this.text.length > 0 && this.text.length <= 2048;
    },
    previewButtonClass() {
      return this.isPreviewActive ? "button is-info" : "button";
    }
  },
  methods: {
    async sendMessage(event) {
      // set focus on button, to force IME input to end
      if (event instanceof KeyboardEvent) {
        this.$refs.sendButton.focus();
        setTimeout(() => this.$refs.sendButton.click(), 1);
        return;
      }

      if (!this.isValidLength) {
        this.$toast.open({
          message: this.$i18n.t("chat.send.failedDueToStringLength"),
          type: "is-danger"
        });
        return;
      } else if (!this.isLatestBottle) {
        this.$toast.open({
          message: this.$i18n.t("chat.send.failedDueToOldBottle"),
          type: "is-danger"
        });
        return;
      }
      const { text, themes } = this;

      this.text = "";
      await this.$store.dispatch("chat/sendMessage", {
        text,
        themes
      });
    },

    // called from emoji modal components
    appendEmoji(value) {
      this.text += value;
      this.$refs.textArea.$el.focus();
    },

    insertAsciiArtTemplate() {
      if (this.text) {
        this.text += "\n\n";
      }
      this.text +=
        "```aa\n" +
        "　　　 ∧ ∧\n" +
        "　　　(,,・д・)\n" +
        "　 ～（_u_u_）\n" +
        "```";
    },

    // cancel input's focus, unless IME is active
    cancelInputFocus(event) {
      if (!this.isImeActive) {
        event.target.blur();
      }
    },

    // send ping (in dev)
    async sendPing() {
      const func = this.$firebase
        .functions()
        .httpsCallable("messaging-sendPing");

      try {
        // alpha
        // tottokotkd
        const p = func({
          themes: this.themes,
          targetUserId: "Y74sXbkYR0VZCH629iz7eLTxRdI3"
        });
        await p;
      } catch (e) {
        console.error("ping error", e);
      }
    }
  }
};
</script>

<style lang="scss">
</style>
