<template>
  <div>

    <nav class="navbar has-shadow is-fixed-top">
      <div class="container">
        <div class="navbar-brand">
          <nuxt-link
            :to="localePath({name: 'index'})"
            class="navbar-item"
          >
            <span class="has-text-weight-bold is-size-4">tagbottle (α)</span>
          </nuxt-link>
          <a
            :class="showMenu ? 'navbar-burger is-active' : 'navbar-burger'"
            role="button"
            aria-label="menu"
            aria-expanded="false"
            @click="showMenu = !showMenu"
          >
            <span />
            <span />
            <span />
          </a>
        </div>
        <div :class="showMenu ? 'navbar-menu is-active' : 'navbar-menu'">
          <div
            v-if="currentUser"
            class="navbar-start"
          >
            <nuxt-link
              :to="localePath({name: 'chat'})"
              class="navbar-item"
              @click.native="showMenu = false"
            >
              <span class="icon">
                <b-icon icon="message-text" />
              </span>
              <span>
                {{ $t('navigation.labelForChat') }}
              </span>
            </nuxt-link>
            <nuxt-link
              :to="localePath({name: 'stamp'})"
              class="navbar-item"
              @click.native="showMenu = false"
            >
              <span class="icon">
                <b-icon icon="thumb-up" />
              </span>
              <span>
                {{ $t('navigation.labelForStamp') }}
              </span>
            </nuxt-link>
          </div>
          <div
            v-if="currentUser"
            class="navbar-end"
          >
            <div class="navbar-item is-hidden-mobile">
              <b-field>
                <b-input
                  v-model="manualTag"
                  :placeholder="$t('navigation.placeholderForSelectTag')"
                  @keydown.native.meta.enter.prevent="selectTag({tag: manualTag})"
                  @keyup.native.meta.enter.prevent="selectTag({tag: manualTag})"
                  @keyup.native.ctrl.enter.prevent="selectTag({tag: manualTag})"
                />
                <p class="control">
                  <button
                    class="button is-info"
                    @click="selectTag({tag: manualTag})"
                  >
                    {{ $t('navigation.buttonForSelectTag') }}
                  </button>
                </p>
              </b-field>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <span v-if="currentUser.photoUrl">
                  <img
                    :src="currentUser.photoUrl"
                    class="image"
                  >
                </span>
                <span v-else>
                  <b-icon icon="account" />
                </span>
              </a>
              <div class="navbar-dropdown is-right">
                <nuxt-link
                  :to="localePath({name: 'profile'})"
                  class="navbar-item"
                  @click.native="showMenu = false"
                >
                  <span class="icon">
                    <b-icon icon="account" />
                  </span>
                  <span>
                    {{ $t('navigation.labelForProfile') }}
                  </span>
                </nuxt-link>
                <hr class="navbar-divider">
                <a
                  href="https://docs.tagbottle.com"
                  class="navbar-item"
                  target="_blank"
                  @click="showMenu = false"
                >
                  <span class="icon">
                    <b-icon icon="file-document" />
                  </span>
                  <span>
                    {{ $t('navigation.labelForDocument') }}
                  </span>
                </a>
                <a
                  v-if="currentUser"
                  class="navbar-item"
                  @click="signOut"
                >
                  <span class="icon">
                    <b-icon icon="logout" />
                  </span>
                  <span>
                    {{ $t('navigation.labelForLogout') }}
                  </span>
                </a>
                <a
                  v-else
                  class="navbar-item"
                  @click="auth"
                >
                  <b-icon icon="login" />
                  {{ $t('navigation.labelForLogin') }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="navbar has-shadow is-hidden-desktop is-fixed-bottom">
      <div class="container">
        <div
          v-if="currentUser"
          class="navbar-brand"
        >
          <b-dropdown
            :mobile-modal="false"
            position="is-top-right"
          >
            <a
              slot="trigger"
              class="navbar-item"
            >
              <b-icon icon="bookmark" />
            </a>
            <b-dropdown-item>
              <div class="menu">
                <p class="menu-label">
                  {{ $t('bookmark.label') }}
                </p>
                <nested-ul
                  :current="themes"
                  :nested="nested"
                />
              </div>
            </b-dropdown-item>
          </b-dropdown>
          <b-dropdown
            :mobile-modal="false"
            position="is-top-right"
            class="navbar-item"
          >
            <a
              slot="trigger"
              class="navbar-item"
            >
              {{ themes.join(" / ") }}
            </a>
            <b-dropdown-item
              custom
            >
              <div class="menu">
                <tag-summary :themes="themes" />
              </div>
            </b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
    </nav>


  </div>
</template>

<script lang="ts">
import { mapGetters, mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      manualTag: "",
      showMenu: false
    };
  },
  computed: {
    ...mapGetters("app", ["currentUser", "nested"]),
    ...mapState("chat", ["themes"])
  },
  methods: {
    async signOut() {
      this.$router.push(this.localePath({ name: "index" }));
      await this.$store.dispatch("app/signOut");
      await this.$store.dispatch("auth/logout");
    },
    async selectTag({ tag }) {
      if (!tag) {
        return;
      }
      const themes = tag ? tag.split("/") : [];
      this.$router.push(this.localePath({ name: "chat", query: { themes } }));
      this.manualTag = "";
    }
  }
};
</script>

<style scoped>
</style>
