<template>
  <div class="wrapper">
    <b-loading
      :is-full-page="true"
      :active="!authInitialized"
      :can-cancel="false"
    />
    <navigation />
    <nuxt />
    <footer class="footer">
      <div class="content has-text-centered">
        Apache v2 Licensed | Copyright © 2018-present tagbottle project
      </div>
    </footer>
  </div>
</template>

<script lang="ts">
import { mapGetters } from "vuex";

import Navigation from "~/components/navigation.vue";

export default {
  components: { Navigation },
  computed: {
    ...mapGetters("auth", ["authInitialized"])
  },
  watch: {
    authInitialized() {
      // redirect if user is logout
      const rootPath = this.localePath({ name: "index" });
      if (
        this.$store.getters["auth/loginRedirectNeeded"] &&
        this.$router.path !== rootPath
      ) {
        this.$store.dispatch("auth/logout");
        this.$router.push(rootPath);
      }
    }
  }
};
</script>

<style>
.wrapper {
  min-height: 100vh;
}
</style>
